In [8]:
transactions = [
    ['beer', 'wine', 'cheese'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'cheese'],
    ['potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'beer'],
    ['beer', 'potato chips'],
    ['butter', 'eggs'],
    ['beer', 'potato chips'],
    ['flower', 'eggs'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['beer', 'wine', 'potato chips', 'cheese'],
    ['wine', 'cheese'],
    ['beer', 'potato chips'],
    ['wine', 'cheese'],
    ['beer', 'potato chips']
]

In [9]:
import pandas as pd

data = pd.DataFrame(transactions)
data

               0             1             2       3             4
0           beer          wine        cheese    None          None
1           beer  potato chips          None    None          None
2           eggs        flower        butter  cheese          None
3           eggs        flower        butter    beer  potato chips
4           wine        cheese          None    None          None
5   potato chips          None          None    None          None
6           eggs        flower        butter    wine        cheese
7           eggs        flower        butter    beer  potato chips
8           wine          beer          None    None          None
9           beer  potato chips          None    None          None
10        butter          eggs          None    None          None
11          beer  potato chips          None    None          None
12        flower          eggs          None    None          None
13          beer  potato chips          None    None          None
14          eggs        flower        butter    wine        cheese
15          beer          wine  potato chips  cheese          None
16          wine        cheese          None    None          None
17          beer  potato chips          None    None          None
18          wine        cheese          None    None          None
19          beer  potato chips          None    None          None

In [10]:
min_n_products = 2

min_support = 7/len(transactions)

max_length = max([len(x) for x in transactions])

In [11]:
from pyECLAT import ECLAT

my_eclat = ECLAT(data, verbose=True)
rule_indices, rule_supports = my_eclat.fit(min_support=min_support, 
                                           min_combination=min_n_products, 
                                           max_combination=max_length)

100%|██████████| 8/8 [00:00<00:00, 570.45it/s]
100%|██████████| 8/8 [00:00<00:00, 82241.25it/s]
100%|██████████| 8/8 [00:00<00:00, 3029.20it/s]

Combination 2 by 2

10it [00:00, 247.99it/s]

Combination 3 by 3

10it [00:00, 289.60it/s]

Combination 4 by 4

5it [00:00, 157.82it/s]

Combination 5 by 5

1it [00:00, 235.46it/s]

In [12]:
print(rule_supports)

{'potato chips & beer': 0.45, 'cheese & wine': 0.35}